
@{
    ViewBag.Title = "MusteriEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>MÜŞTERİ ADI:</label>
        <input type="text" class="form-control" name="MUSTERIAD" />
    </div>
    <div>
        <label>MÜŞTERİ SOYADI:</label>
        <input type="text" class="form-control" name="MUSTERISOYAD" />
    </div>
    <div>
        <button class="btn btn-info">MÜŞTERİ EKLE</button> 
    </div>
</form>

